<mat-expansion-panel [expanded]="showTasksWithStatus !== TaskStatus.DONE">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <h3>{{ title }}</h3>
        </mat-panel-title>
    </mat-expansion-panel-header>

    <!-- For each task create an task item which contains the task's details -->
    <div #tasksList class="tasks-list">
        <ng-container *ngFor="let task of tasks$ | async | keyvalue | filterTasksByStatus: showTasksWithStatus">
            <app-task-list-item [task]="task"></app-task-list-item>
        </ng-container>
    </div>

    <ng-container *ngIf="showTasksWithStatus === TaskStatus.DONE">
        <mat-action-row>
            <!-- Disable clear button if there are no completed tasks -->
            <app-clear-completed-tasks-button
                [isDisabled]="tasksList.children.length === 0"></app-clear-completed-tasks-button>
        </mat-action-row>
    </ng-container>
</mat-expansion-panel>